# Basic Python

## 1. Split this string

In [3]:
s = "Hi there Sam!"

In [5]:
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [13]:
planet = "Earth"
diameter = 12742

In [14]:
txt = "The diameter of {} is {} kilometers.".format(planet,diameter)
print(txt)

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [20]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [23]:
hello = d['k1'][3]['tricky'][3]['target'][3]
print(hello)

hello

# Numpy

In [24]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [26]:
array=np.zeros(10)
print(array)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [27]:
array=np.ones(10)*5
print(array)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [28]:
array=np.arange(20,35,2)
print(array)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [30]:
matrix =  np.arange(0, 8).reshape(3,3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [42]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
np.concatenate((a, b))

array([1, 2, 3, 4, 5, 6])

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [44]:
import pandas as pd

In [54]:
A = np.random.randint(100, size=(3,2))
df = pd.DataFrame(A, index = ['row1', 'row2','row3'], columns=['cola', 'colb'])
print(df)

      cola  colb
row1    64    28
row2    78    58
row3    63    65

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [63]:
days = pd.date_range(start ='1-1-2023', end ='10-02-2023', freq ='D')
days

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [65]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [66]:
df = pd.DataFrame(lists, columns =['No', 'string', 'value']) 
print(df )

   No string  value
0   1    aaa     22
1   2    bbb     25
2   3    ccc     24